<script>

    $(document).ready(function () {
        focusSection("Societa");
    });

</script>

<style>
    .titleSectionSociety, .subtitleSectionSociety {
        margin-bottom: 2vmin;
        width: 100%;
        text-align: center;
    }

    .containerSponsor {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        animation: 0.7s ease-out 0s 1 slideFromRight;
    }

    .sponsor {
        width: 30%;
        height: 40vh;
        background-color: var(--bg-secondary-color);
        -webkit-box-shadow: 0 8px 12px -4px var(--text-shadow);
        box-shadow: 0 8px 12px -4px var(--text-shadow);
        padding: 10px;
        border-radius: 1vmin;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 2vmin;
    }

    .sponsorImage {
        width: 100%;
        height: 75%;
        border-radius: 0.5vmin;
        overflow: hidden;
        background-color: var(--light);
    }

    .imgSponsor {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .sponsorInfo {
        width: 100%;
        height: 25%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    /* Smartphones Portrait */
    @@media (min-width: 320px) and (max-width: 480px) {
        .titleSectionSociety {
            font-size: 20px !important;
        }

        .subtitleSectionSociety {
            font-size: 14px !important;
        }

        .containerSponsor {
            margin-top: 4vmin;
        }

        .sponsor {
            width: 100%;
            height: 40vh;
            margin-bottom: 4vmin;
            border-radius: 3vmin;
        }

        .sponsorImage {
            border-radius: 1.5vmin;
        }

        .sponsorInfo .sizeMediumBig {
            font-size: 20px;
        }

        .sponsorDescr {
            font-size: 14px;
        }
    }

    /* Tablet Landscape */
    @@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
        .titleSectionSociety {
            font-size: 20px !important;
        }

        .subtitleSectionSociety {
            font-size: 14px !important;
        }

        .sponsor {
            width: 32%;
            height: 33vh;
            margin-bottom: 4vmin;
        }

        .sponsorInfo .sizeMediumBig {
            font-size: 20px;
        }

        .sponsorDescr {
            font-size: 14px;
        }
    }

    /* Small Laptop and Big Tablet Landscape */
    @@media (min-width: 1025px) and (max-width: 1280px) {
        .titleSectionSociety {
            font-size: 28px !important;
        }

        .subtitleSectionSociety {
            font-size: 22px !important;
        }

        .sponsor {
            width: 32%;
            height: 33vh;
            margin-bottom: 4vmin;
        }

        .sponsorInfo .sizeMediumBig {
            font-size: 22px;
        }

        .sponsorDescr {
            font-size: 15px;
        }
    }
</style>

<div class="titleSectionSociety sizeBig weight900">
    Sponsor
</div>

<div class="subtitleSectionSociety sizeMediumBig weight300">
    Queste sono le realtà che, con il loro supporto, ci aiutano e ci sostengono in questo nostro percorso. <br />
    <span class="weight600">Grazie mille!</span>
</div>

<div class="containerSponsor">
    <div class="sponsor hoverBorderOrange cursorClick">
        <div class="sponsorImage">
            <img class="imgSponsor" src="~/Images/senzaNome.png" />
        </div>
        <div class="sponsorInfo">
            <div class="sizeMediumBig weight600">Senza Nome</div>
            <div class="sponsorDescr">Bar Trattoria &amp; Pizzeria</div>
        </div>
    </div>

    @for (int i = 0; i < 8; i++)
    {
        <div class="sponsor hoverBorderOrange cursorClick">
            <div class="sponsorImage">
                
            </div>
            <div class="sponsorInfo">
                <div class="sizeMediumBig weight600">Nome</div>
                <div class="sponsorDescr">Descrizione</div>
            </div>
        </div>
    }
</div>