<script>

    $(document).ready(function () {
        focusSection("Campionati");
        attivaLoading();
    });

    function openSectionTeams(section) {
        attivaLoading();
        $(".sectionTeams").removeClass("sectionTeamSelected");
        $("#sectionTeams" + section).addClass("sectionTeamSelected");

        $("#mainInfoTeam").html("");
        $("#mainInfoTeam").load("../Teams/" + section + "?championship=" + "@ViewBag.Championship");
    }

</script>

<style>
    .titleTeam {
        width: 100%;
        text-align: center;
    }

    .sectionsTeam {
        width: 100%;
        margin-top: 2vmin;
        border-bottom: 1px solid var(--text-color);
        /* padding: 10px 0; */
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        /* align-items: center; */
    }

    .sectionTeamSelected {
        color: var(--bg-color);
        background-color: var(--text-color);
        padding: 5px 15px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

    .mainInfoTeam {
        width: 100%;
    }


</style>

<div class="titleTeam sizeBig weight900">
    @if (ViewBag.Championship == "1DM")
    {
        <span>Prima Divisione Maschile</span>
    }
    else if (ViewBag.Championship == "PGSF")
    {
        <span>PGS Libera Femminile</span>
    }
    else if (ViewBag.Championship == "MV")
    {
        <span>Mini Volley</span>
    }
</div>

<div class="sectionsTeam">
    <div id="sectionTeamsTeam" class="sectionTeams cursorClick sizeMediumSmall weight300 hoverOrange sectionTeamSelected" onclick="openSectionTeams('Team')">Squadra</div>
    <div id="sectionTeamsSchedule" class="sectionTeams cursorClick sizeMediumSmall weight300 hoverOrange" onclick="openSectionTeams('Schedule')">Calendario</div>
    <div id="sectionTeamsStanding" class="sectionTeams cursorClick sizeMediumSmall weight300 hoverOrange" onclick="openSectionTeams('Standing')">Classifica</div>
</div>

<div id="mainInfoTeam" class="mainInfoTeam">
    @Html.Action("Team", "Teams", new { championship = ViewBag.Championship })
</div>