<script>

    $(document).ready(function () {
        disattivaLoading();
    });

</script>

<style>

    .titleSectionSchedule {
        margin-top: 2vmin;
        width: 100%;
        text-align: center;
    }
</style>

<div class="titleSectionSchedule sizeMediumBig weight300">
    Calendario
</div>
