<script>

    $(document).ready(function () {
        disattivaLoading();
    });

</script>

<style>

    .titleSectionStanding {
        margin-top: 2vmin;
        width: 100%;
        text-align: center;
    }

</style>

<div class="titleSectionStanding sizeMediumBig weight300">
    Classifica
</div>
