<style>
    .containerTeam {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        flex-wrap: wrap;
    }

    .titleSectionTeam {
        margin-top: 2vmin;
        padding-left: 1.6vmin;
    }

    .player {
        width: 18%;
        height: 35vmin;
        margin: 1.6vmin;
        background-color: var(--bg-color);
        border-radius: 10px;
        border: 2px solid var(--text-color);
        overflow: hidden;
    }

        .player:hover {
            border: 2px solid var(--orange);
        }

    .playerImg {
        height: 80%;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        position: relative;
    }

    .playerRole {
        height: 5vmin;
        width: 5vmin;
        position: absolute;
        top: 1vmin;
        right: 1vmin;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background-color: var(--text-color);
        color: var(--bg-color);
        border-radius: 10vmin;
    }

    .playerImg img {
        height: 100%;
        width: auto;
        display: block;
    }

    .playerInfo {
        height: 20%;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        padding: 0 1vmin;
        border-top: 1px solid var(--text-color);
    }

    .player:hover .playerInfo {
        border-top: 1px solid var(--orange);
    }

    .staffName {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .playerName {
        height: 100%;
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .playerNumber {
        height: 100%;
        width: 20%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .captain {
        width: 70%;
        height: 1vmin;
        background-color: var(--text-color);
    }
</style>


<div class="titleSectionTeam sizeMediumBig weight300">
    Staff
</div>

<div class="containerTeam">
    <div class="player cursorClick">
        <div class="playerImg">
            <img src="~/Images/staffPlaceholder.png" />
        </div>
        <div class="playerInfo">
            <div class="staffName">
                <div class="sizeMedium weight600">Angelo Battaglia</div>
                <div class="sizeMediumSmall weight300 orange">Primo allenatore</div>
            </div>
        </div>
    </div>
    <div class="player cursorClick">
        <div class="playerImg">
            <img src="~/Images/staffPlaceholder.png" />
        </div>
        <div class="playerInfo">
            <div class="staffName">
                <div class="sizeMedium weight600">Teo Giacobbo</div>
                <div class="sizeMediumSmall weight300 orange">Secondo allenatore</div>
            </div>
        </div>
    </div>
</div>

<div class="titleSectionTeam sizeMediumBig weight300">
    Giocatori
</div>

<div class="containerTeam">
    <div class="player cursorClick">
        <div class="playerImg">
            @*<div class="playerRole sizeMediumBig weight900">K</div>*@
            <img src="~/Images/playerPlaceholder.png" />
        </div>
        <div class="playerInfo">
            <div class="playerName">
                <div class="sizeMedium weight600">Alessandro Arberi</div>
                <div class="sizeMediumSmall weight300 orange">Schiacciatore</div>
            </div>
            <div class="playerNumber">
                <div class="sizeBig weight900">13</div>
                <div class="captain"></div>
            </div>
        </div>
    </div>

    <div class="player cursorClick">
        <div class="playerImg">
            <img src="~/Images/playerPlaceholder.png" />
        </div>
        <div class="playerInfo">
            <div class="playerName">
                <div class="sizeMedium weight600">Francesco Di Palma</div>
                <div class="sizeMediumSmall weight300 orange">Libero</div>
            </div>
            <div class="playerNumber">
                <div class="sizeBig weight900">1</div>
            </div>
        </div>
    </div>

    <div class="player cursorClick">
        <div class="playerImg">
            <img src="~/Images/playerPlaceholder.png" />
        </div>
        <div class="playerInfo">
            <div class="playerName">
                <div class="sizeMedium weight600">Marco Daverio</div>
                <div class="sizeMediumSmall weight300 orange">Schiacciatore</div>
            </div>
            <div class="playerNumber">
                <div class="sizeBig weight900">3</div>
            </div>
        </div>
    </div>

    <div class="player cursorClick">
        <div class="playerImg">
            <img src="~/Images/playerPlaceholder.png" />
        </div>
        <div class="playerInfo">
            <div class="playerName">
                <div class="sizeMedium weight600">Josè Palomino</div>
                <div class="sizeMediumSmall weight300 orange">Opposto</div>
            </div>
            <div class="playerNumber">
                <div class="sizeBig weight900">4</div>
            </div>
        </div>
    </div>

    <div class="player cursorClick">
        <div class="playerImg">
            <img src="~/Images/playerPlaceholder.png" />
        </div>
        <div class="playerInfo">
            <div class="playerName">
                <div class="sizeMedium weight600">Giacomo Franco</div>
                <div class="sizeMediumSmall weight300 orange">Schiacciatore</div>
            </div>
            <div class="playerNumber">
                <div class="sizeBig weight900">5</div>
            </div>
        </div>
    </div>

    <div class="player cursorClick">
        <div class="playerImg">
            <img src="~/Images/playerPlaceholder.png" />
        </div>
        <div class="playerInfo">
            <div class="playerName">
                <div class="sizeMedium weight600">Emanuele Reggiori</div>
                <div class="sizeMediumSmall weight300 orange">Schiacciatore</div>
            </div>
            <div class="playerNumber">
                <div class="sizeBig weight900">6</div>
            </div>
        </div>
    </div>

    <div class="player cursorClick">
        <div class="playerImg">
            <img src="~/Images/playerPlaceholder.png" />
        </div>
        <div class="playerInfo">
            <div class="playerName">
                <div class="sizeMedium weight600">Davide Melloni</div>
                <div class="sizeMediumSmall weight300 orange">Centrale</div>
            </div>
            <div class="playerNumber">
                <div class="sizeBig weight900">7</div>
            </div>
        </div>
    </div>

    <div class="player cursorClick">
        <div class="playerImg">
            <img src="~/Images/playerPlaceholder.png" />
        </div>
        <div class="playerInfo">
            <div class="playerName">
                <div class="sizeMedium weight600">Matteo Carcano</div>
                <div class="sizeMediumSmall weight300 orange">Palleggiatore</div>
            </div>
            <div class="playerNumber">
                <div class="sizeBig weight900">8</div>
            </div>
        </div>
    </div>

    <div class="player cursorClick">
        <div class="playerImg">
            <img src="~/Images/playerPlaceholder.png" />
        </div>
        <div class="playerInfo">
            <div class="playerName">
                <div class="sizeMedium weight600">Emanuele Mazzola</div>
                <div class="sizeMediumSmall weight300 orange">Schiacciatore</div>
            </div>
            <div class="playerNumber">
                <div class="sizeBig weight900">9</div>
            </div>
        </div>
    </div>

    <div class="player cursorClick">
        <div class="playerImg">
            <img src="~/Images/playerPlaceholder.png" />
        </div>
        <div class="playerInfo">
            <div class="playerName">
                <div class="sizeMedium weight600">Simone Soldo</div>
                <div class="sizeMediumSmall weight300 orange">Palleggiatore</div>
            </div>
            <div class="playerNumber">
                <div class="sizeBig weight900">22</div>
            </div>
        </div>
    </div>

    <div class="player cursorClick">
        <div class="playerImg">
            <img src="~/Images/playerPlaceholder.png" />
        </div>
        <div class="playerInfo">
            <div class="playerName">
                <div class="sizeMedium weight600">Marco Dello Iacono</div>
                <div class="sizeMediumSmall weight300 orange">Libero</div>
            </div>
            <div class="playerNumber">
                <div class="sizeBig weight900">23</div>
            </div>
        </div>
    </div>

    <div class="player cursorClick">
        <div class="playerImg">
            <img src="~/Images/playerPlaceholder.png" />
        </div>
        <div class="playerInfo">
            <div class="playerName">
                <div class="sizeMedium weight600">Matteo Ferrante</div>
                <div class="sizeMediumSmall weight300 orange">Opposto</div>
            </div>
            <div class="playerNumber">
                <div class="sizeBig weight900">28</div>
            </div>
        </div>
    </div>

    <div class="player cursorClick">
        <div class="playerImg">
            <img src="~/Images/playerPlaceholder.png" />
        </div>
        <div class="playerInfo">
            <div class="playerName">
                <div class="sizeMedium weight600">Luca Pozzi</div>
                <div class="sizeMediumSmall weight300 orange">Centrale</div>
            </div>
            <div class="playerNumber">
                <div class="sizeBig weight900">31</div>
            </div>
        </div>
    </div>

    <div class="player cursorClick">
        <div class="playerImg">
            <img src="~/Images/playerPlaceholder.png" />
        </div>
        <div class="playerInfo">
            <div class="playerName">
                <div class="sizeMedium weight600">Cristiano Binetti</div>
                <div class="sizeMediumSmall weight300 orange">Centrale</div>
            </div>
            <div class="playerNumber">
                <div class="sizeBig weight900">89</div>
            </div>
        </div>
    </div>
</div>