<script>

    $(document).ready(function () {
        focusSection("Campionati");
        attivaLoading();
    });

    function apriSezioneSquadra(sezione) {
        attivaLoading();
        $(".sectionTeams").removeClass("sectionTeamSelected");
        $("#sectionTeams" + sezione).addClass("sectionTeamSelected");

        $("#mainInfoTeam").html("");
        $("#mainInfoTeam").load("../Campionati/" + sezione + "?campionato=" + "@ViewBag.Campionato");
    }

</script>

<style>
    .titleTeam {
        width: 100%;
        text-align: center;
    }

    .sectionsTeam {
        width: 100%;
        margin-top: 2vmin;
        border-bottom: 1px solid var(--text-color);
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .sectionTeamSelected {
        color: var(--bg-color);
        background-color: var(--text-color);
        padding: 5px 15px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

    .mainInfoTeam {
        width: 100%;
    }

    /* Smartphones Portrait */
    @@media (min-width: 320px) and (max-width: 480px) {
        .titleTeam {
            font-size: 20px !important;
        }

        .sectionsTeam {
            margin-top: 4vmin;
        }

        .sectionTeams {
            font-size: 14px !important;
        }
    }

    /* Tablet Landscape */
    @@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
        .titleTeam {
            font-size: 20px !important;
        }

        .sectionsTeam {
            margin-top: 4vmin;
        }

        .sectionTeams {
            font-size: 16px !important;
        }
    }

    /* Small Laptop and Big Tablet Landscape */
    @@media (min-width: 1025px) and (max-width: 1280px) {
        .titleTeam {
            font-size: 28px !important;
        }

        .sectionsTeam {
            margin-top: 4vmin;
        }

        .sectionTeams {
            font-size: 20px !important;
        }
    }
</style>

<div class="titleTeam sizeBig weight900">
    @if (ViewBag.Campionato == "1DM")
    {
        <span>Prima Divisione Maschile</span>
    }
    else if (ViewBag.Campionato == "PGSF")
    {
        <span>PGS Libera Femminile</span>
    }
    else if (ViewBag.Campionato == "MV")
    {
        <span>Mini Volley</span>
    }
</div>

<div class="sectionsTeam">
    <div id="sectionTeamsSquadra" class="sectionTeams cursorClick sizeMediumSmall weight300 hoverOrange sectionTeamSelected" onclick="apriSezioneSquadra('Squadra')">Squadra</div>
    <div id="sectionTeamsCalendario" class="sectionTeams cursorClick sizeMediumSmall weight300 hoverOrange" onclick="apriSezioneSquadra('Calendario')">Calendario</div>
    <div id="sectionTeamsClassifica" class="sectionTeams cursorClick sizeMediumSmall weight300 hoverOrange" onclick="apriSezioneSquadra('Classifica')">Classifica</div>
</div>

<div id="mainInfoTeam" class="mainInfoTeam">
    @Html.Action("Squadra", "Campionati", new { campionato = ViewBag.Campionato })
</div>