
<script>

    $(document).ready(function () {
        focusSection("News");
    });

</script>

<style>
    .mainNews {
        width: 100%;
        height: 45vh;
        background-color: var(--bg-secondary-color);
        -webkit-box-shadow: 0 8px 12px -4px var(--text-shadow);
        box-shadow: 0 8px 12px -4px var(--text-shadow);
        border-radius: 1vmin;
        padding: 10px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        animation: 0.7s ease-out 0s 1 slideFromLeft;
    }

    .containerNews {
        width: 100%;
        margin-top: 2vmin;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        animation: 0.7s ease-out 0s 1 slideFromRight;
    }

    .news {
        width: 32%;
        height: 22vh;
        background-color: var(--bg-secondary-color);
        -webkit-box-shadow: 0 8px 12px -4px var(--text-shadow);
        box-shadow: 0 8px 12px -4px var(--text-shadow);
        border-radius: 1vmin;
        padding: 10px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-bottom: 2vmin;
    }

    .moreNews {
        width: 100%;
        height: 2%;
        margin-top: 2vmin;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        text-decoration: underline;
        animation: 0.7s ease-out 0s 1 slideFromRight;
    }

    @@media (min-width: 320px) and (max-width: 480px) {
        .mainNews {
            margin-bottom: 4vmin;
        }

        .news {
            width: 100%;
            margin-bottom: 4vmin;
        }
    }
</style>

<div class="mainNews hoverBorderOrange">
    <div>ULTIMA NEWS</div>
</div>

<div class="containerNews">
    @for (int i = 0; i < 12; i++)
    {
        <div class="news hoverBorderOrange">
            <div>NEWS</div>
        </div>
    }
</div>

<div class="moreNews hoverOrange">
    Carica altre news
</div>

