<style>
    .contenitoreOffline {
        width: 100%;
        height: 80vh;
        overflow: hidden;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background-color: var(--bg-color);
    }

    .scrittaOffline {
        color: var(--text-color);
        font-size: 30px;
        padding: 3vmin;
        text-align: center;
    }
</style>

<div class="contenitoreOffline">
    <div class="scrittaOffline weight600">
        Risulti offline! <br /> 
        L'applicazione non è accessibile in modalità offline
    </div>
</div>